# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [100]:
import pandas as pd
import numpy as np
import re

#### Import data set.

Import data set `Pokemon`. Read the data into a dataframe called `pokemon`. 

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [101]:
pokemon = pd.read_csv('../data/Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [102]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Extract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [103]:
set_type_1 = set(pokemon['Type 1'].unique())
set_type_2 = set(pokemon['Type 2'].unique())

In [104]:
set_type_1.difference(set_type_2)

set()

In [105]:
set_type_1.difference(set_type_2)

set()

In [106]:
types = pokemon.loc[:,['Type 1','Type 2']]
types = types.loc[(types['Type 1'] != types['Type 2']),:]
types

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [107]:
def remove_mega(x):
    x = re.sub('\w+Mega','Mega',x)
    return x

pokemon['Name'] = pokemon['Name'].apply(remove_mega)

pokemon.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [108]:
pokemon['A/D Ratio'] = (pokemon['Attack'] / pokemon['Defense']).round(2)

#### Identify the pokemon with the highest `A/D Ratio`.

In [109]:
mask_ratio = (pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max())
pokemon.loc[mask_ratio,:]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

In [110]:
max_ratio = pokemon['A/D Ratio'].max()
pokemon.query(f'`A/D Ratio` == {max_ratio}')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [111]:
min_ratio = pokemon['A/D Ratio'].min()
pokemon.query(f'`A/D Ratio` == {min_ratio}')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.04

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [112]:
def combo(row):
    if row['Type 2'] == row['Type 2']:
        combo_type = row['Type 1'] + '-' + row['Type 2']
    else:
        combo_type = row['Type 1']
    return combo_type

In [113]:
pokemon['Combo Type'] = pokemon.apply(combo,axis=1)

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [114]:
top5_ratio = pokemon.nlargest(5,'A/D Ratio')
top5_ratio

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.00,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.12,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.00,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [115]:
top5_ratio.groupby(by=['Combo Type']).mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug-Poison,15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,False,3.75
Psychic,386.0,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,True,9.00
Rock,408.0,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,False,3.12
Water-Dark,318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,False,3.75

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [118]:
top5_all_ratio = pokemon.groupby(by=['Combo Type']).mean()
top5_all_ratio.nlargest(5,'A/D Ratio')

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Psychic-Dark,720.000000,680.000000,80.000000,160.0,60.000000,170.000000,130.0,80.000000,6.000000,1.0,2.670000
Water-Dark,347.666667,493.833333,69.166667,120.0,65.166667,88.833333,63.5,87.166667,3.166667,0.0,2.291667
Ground-Steel,530.000000,508.000000,110.000000,135.0,60.000000,50.000000,65.0,88.000000,5.000000,0.0,2.250000
Bug-Ghost,292.000000,236.000000,1.000000,90.0,45.000000,30.000000,30.0,40.000000,3.000000,0.0,2.000000
Rock-Flying,354.250000,524.500000,72.500000,123.0,65.000000,79.000000,70.0,115.000000,3.000000,0.0,1.962500